.sender-column {
    text-align: right;
  }

body {
    background-color: #dfe2e6;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
   margin: 0;
  }

h1 {
    color: #2f2854;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

h2 {
    font-size: 1.5em;
    color: #3b3463;
 }

.job-title {
    color: #999999;
    font-weight: bold;
 }

a:link,
  a:visited {
    color: #fb6542;
 }

a:hover {
   text-decoration: none;
  }

div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

flexing {
  div: flex;
}
